---
import FeatureComingSoon from "@components/FeatureComingSoon.astro";
import Layout from "@layouts/Layout.astro";
---
<Layout SITE_PAGE="Reviews">
    <FeatureComingSoon show={false} />
    <div class="mb-16"></div>
</Layout>