---
import TopBar from './TopBar.astro'
import Pin from '../components/Pin.astro'
import Loader from '../components/Loader.astro'

let loading: boolean = true
interface Props {
    pins        : any,
    loadingText?: string
}
const { pins, loadingText } = Astro.props
---
<div class="px-2 md:px-5">
    <div class="bg-gray-50">
        <TopBar />
    </div>
    {
        loading && <Loader text={loadingText} />
    }

    <div class="w-[350px] max-sm:flex max-sm:flex-col justify-center columns-1 md:columns-3 lg:columns-3 xl:columns-4 gap-3 md:w-[600px] lg:w-[1100px] xl:w-[1300px] space-y-3 pb-28 p-3 lg:px-8 lg:py-16 mx-auto mt-15 animate-slide-fwd">
        {
            pins?.photos?.map((pin: any) => <Pin pin={pin} />)
        }
    </div>

</div>
<script>
	const loaderId = "loader"
	function hideLoader(loaderId: string) {
		setTimeout(function() {
            document.addEventListener("DOMContentLoaded", function() {
            // Code to update and hide the element goes here
            var element = document.getElementById("loader");
            if(element) element.style.display = "none"; // Hide the element
            });
		}, 5000)
	};
	
	hideLoader(loaderId);
</script>