---
//#region  imports
import type { IPin } from '../interfaces/IPin';
import type { ILike } from '../interfaces/ILike';
import { getLikes } from '../utils/getLikes';
import TopBar from './TopBar.astro';
import Pin from '../components/Pin.astro';
import Loader from '../components/Loader.astro';
import BackToTop from './UI/BackToTop.astro';
//#endregion

interface Props {
    pins        : IPin[],
    loadingText?: string
    show        : boolean
    target      : string
};

const { pins, loadingText, show, target } = Astro.props;
const likes: ILike[] = await getLikes();
---
<div class="px-2 md:px-5 relative" id="main">
    <div class="bg-gray-50">
        {
            show && (
                <TopBar />
            )
        }
    </div>

    <Loader text={loadingText} />

    <div class="w-[470px] max-sm:flex max-sm:flex-col justify-center columns-1 md:columns-3 lg:columns-3 xl:columns-4 md:w-[600px] lg:w-[1000px] xl:w-[1300px] space-y-3 pb-28 p-3 md:px-4 lg:px-8 lg:py-16 mx-auto mt-15 animate-slide-fwd relative pl-8 md:pl-0"
    >
        {
            pins?.map((pin: IPin) => <Pin pin={pin} likes={likes} target={target} />)
        }
    <BackToTop />
    </div>
</div>
<script>
	function hideLoader() {
		setTimeout(function() {
            document.addEventListener("DOMContentLoaded", function() {
            // Code to update and hide the element goes here
            var element = document.getElementById("loader");
            if(element) element.style.display = "none"; // Hide the element
            });
		}, 5000)
	};
	
	hideLoader();
</script>