---
import Loader from '../components/Loader.astro'
import SavedImage from '../components/SavedImage.astro';
---
<div>
    <div class="grid grid-cols-3 gap-1 mt-5">
        <SavedImage />
        <SavedImage />
        <SavedImage />
        <SavedImage />
        <SavedImage />
        <SavedImage />
        <SavedImage />
        <SavedImage />
        <SavedImage />
    </div>
</div>