---
import SavedImage from '../components/SavedImage.astro';
const liked =  Astro.props
---
<div>
    <div class="grid grid-cols-3 gap-1 mt-5">
        {
            liked.liked?.map((like: any) => 
                <SavedImage like={like} />
            )
        }
    </div>
</div>