---
import { Link } from './UI'
import Avatar from '../components/Avatar.astro';
import { $user } from '../store/userStore';

const profileLetter = $user?.value![0]?.name!.charAt(0);
---
<nav>
  <div class="flex gap-2 md:gap-5 w-full mt-5 pb-7">
    <div class="flex justify-start items-center w-full px-2 rounded-md bg-white border-none outline-none focus-within:shadow-sm">
      <form action="/search" class="flex w-full">
          <button>
              <i class="fa fa-search ml-1 p-3 hover:text-rose-500 transition-none duration-500 ease-in-out" aria-hidden="true"></i>
          </button>
          <input type="text"  placeholder="Search..." name="query" class="w-full p-2 bg-white outline-none" />
          <select name="type" class="p-2 px-5 bg-white outline-none font-semibold rounded-lg">
            <option value="photo" selected={true}>Photo</option>
            <option value="video">Video</option>
          </select> 
      </form>
    </div>
    <div class="flex gap-3">
      {
        $user?.value![0] && (
          <Link to={`profile/${$user?.value![0]?._id!}`} className="hidden md:block" >
            <Avatar avatar={profileLetter} />
          </Link>
          <Link to={`saved/${$user?.value![0]?._id!}`} className="bg-black text-white rounded-md w-8 h-9  md:w-10 md:h-9 flex justify-center items-center" >  
            <i class="bi bi-download"></i>
          </Link>
        )
      }
    </div>
  </div>
</nav>