---
//#region imports
import TopBar from '@components/TopBar.astro'
import VideoPin from '@components/VideoPin.astro'
import Loader from '@components/Loader.astro'
import type { IVideoPin } from '@interfaces/IVideoPin'
//#endregion

let loading: boolean = true
interface Props {
    pins        : IVideoPin[],
    loadingText?: string
}
const { pins, loadingText } = Astro.props
---
<div class="px-2 md:px-5">
    <div class="bg-gray-50">
        <TopBar />
    </div>
    {
        loading && <Loader text={loadingText} />
    }

    <div class="w-[350px] max-sm:flex max-sm:flex-col justify-center columns-1 md:columns-3 lg:columns-4 xl:columns-4 gap-3 md:w-[600px] lg:w-[1100px] xl:w-[1300px] space-y-3 pb-28 p-3 lg:px-8 lg:py-16 mx-auto mt-15 animate-slide-fwd">
        {
            // pins?.video_files?.map((pin: IVideoPin) => <VideoPin pin={pin} />)
            pins?.map((pin: IVideoPin) => <VideoPin pin={pin} />)
        }
    </div>

</div>
<script>
	const loaderId = "loader"
	function hideLoader(loaderId: string) {
		setTimeout(function() {
			var loader = document.getElementById(loaderId);
			if (loader){
				loader.style.display = 'none';
			}
		}, 6000)
	};
	
	hideLoader(loaderId);
</script>